.App {
  text-align: center;
}
#particles canvas{
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  }

.nre{
  font-family: 'borph', sans-serif;
  font-size: 100px;
  color: rgb(37, 194, 221);
}

.nre1{
  font-family: 'animals', sans-serif;
  font-size: 500px;
  color:rgb(10, 10, 10);
  margin-top: 140px;
  margin-left: 10px;
  opacity: 0.5;
  text-shadow: 
  1px -1px 0 #ffffff, /* Top left */
  -1px 1px 0 #ffffff, /* Top right */
 -1px -1px 0 #ffffff, /* Bottom left */
  1px 1px 0 #ffffff; /* Bottom right */;
}



@font-face {
  font-family: 'borph';
  src: url('fonts/BROMPH_TOWN.woff2') format('woff2');
}
@font-face {
  font-family: 'animals';
  src: url('fonts/Tribal\ Animals\ Tattoo\ Designs.woff2') format('woff2');
}