/* App.css */

body {
  margin: 0;
  padding: 0;
  overflow-y: auto; /* Enable vertical scrolling */
}

.App {
  position: relative; /* Added relative positioning */
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(122,134,237);
  background: linear-gradient(
    90deg,
    rgba(122,134,237,1) 0%,
    rgba(129,244,255,1) 100%
  );
  z-index: -1; /* Behind particles */
}

#particles canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content-wrapper {
  position: relative; /* Added relative positioning */
  z-index: 1; /* Above background, behind particles */
}

.newtext {
  font-family: 'borph', sans-serif;
  font-size: 100px;
  color: transparent; /* Make text transparent */
  text-align: center;
  margin-top: 50px; /* Margin to separate from contents */
  margin-bottom: 20px;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(72,88,224,1) 100%);
  -webkit-background-clip: text; /* Clip the background to the text */
  background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent; /* Set text fill color to transparent */
  text-fill-color: transparent; /* Set text fill color to transparent */
}


.contents {
  /*box-shadow: 0 0 20px rgb(27, 20, 155);*/
  border-radius: 10px;
  padding: 50px;
  width: 800px;
  max-width: 90%; /* Ensure it's responsive */
  min-height: calc(100vh - 200px); /* Adjusted min-height */
  margin: 0 auto; /* Center horizontally */
  margin-bottom: 20px; /* Added margin at the bottom */
  animation: shadowAnimation 1.5s ease-in-out infinite alternate;
}






@keyframes shadowAnimation {
  0% {
    box-shadow: 0 0 10px rgb(27, 20, 155); /* Initial box shadow */
  }
  100% {
    box-shadow: 0 0 30px rgb(8, 35, 46); /* New box shadow */
  }
}

.navbar {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  width: calc(100% - 20px);
  padding: 10px;
  text-align: center;
  background: hsla(240, 1%, 17%, 0.75);
  backdrop-filter: blur(10px);
  border: 1px solid var(--jet);
  border-radius: 20px 20px 0 0;
  box-shadow: var(--shadow-2);
  z-index: 5;
}





/* Smaller screens */
@media screen and (max-width: 768px) {
  .contents {
    padding: 20px;
    width: 90%;
    min-height: calc(100vh - 150px);
  }
  .newtext {
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

/* Tablets */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .contents {
    padding: 30px;
    width: 90%;
    min-height: calc(100vh - 150px);
  }
  .newtext {
    font-size: 80px;
    margin-top: 40px;
    margin-bottom: 15px;
  }
}

/* Larger screens */
@media screen and (min-width: 1025px) {
  .contents {
    padding: 50px;
    width: 800px;
    min-height: calc(100vh - 200px);
  }
  .newtext {
    font-size: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
}








@font-face {
  font-family: 'borph';
  src: url('fonts/BROMPH_TOWN.woff2') format('woff2');
}
@font-face {
  font-family: 'animals';
  src: url('fonts/Tribal\ Animals\ Tattoo\ Designs.woff2') format('woff2');
}
@font-face {
  font-family: 'heyam';
  src: url('fonts/Heyam.woff2') format('woff2');
}
@font-face {
  font-family: 'coffee';
  src: url('fonts/Coffee\ Normal.woff2') format('woff2');
}
@font-face {
  font-family: 'balance';
  src: url('fonts/Balance\ Groovy\ -\ Sans.woff2') format('woff2');
}


#heyam{
  font-family: 'heyam', sans-serif;
  font-size: 60px;
  color: aliceblue;
  margin-bottom: 5px;
}

#coffee{
  font-family: 'coffee', sans-serif;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

#balance{
  font-family: 'balance', sans-serif;
  font-size: 30px;
  color: rgb(255, 255, 255);
}





